
.icon-attach:before { content: '\e800'; } /* '' */
.icon-flash:before { content: '\e801'; } /* '' */
.icon-flight:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */